
.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top:24%;
    z-index:1;
    color: gray;
    padding-left: 20%;
    padding-right: 20%;
    
}
.caption h1{
    font-size: 3.8;
    font-weight: 300;
    letter-spacing: .08rem;
    padding-bottom: .3rem;
}
.caption h3{
    padding-bottom: .7rem;
}
.btn-lg{
    border-width: medium;
    border-color: slategrey;
    border-radius: 0;
    font-size:1.3rem;
}