
    <div class="blogs">
        <h1>
            Posts <i class="fa fa-pencil" aria-hidden="true"></i> <hr>
        </h1>

        
       
        <div class='post' >
            <a href="#">My Journey in Data Science how are you what are you doing i hope everthing is good </a>
            <br>
            <i class="fa fa-tag " aria-hidden="true"> Career</i>
            <hr>
        </div>
       
        <div class='post'>
            <a href="#">My Journey in Data Science</a>
            <br>
            <i class="fa fa-tag " aria-hidden="true"> Career</i>
            <hr>
        </div>

        <div class='post'>
            <a href="#">My Journey in Data Science</a>
            <br>
            <i class="fa fa-tag " aria-hidden="true"> Career</i>
            <hr>
        </div>

        <div class='post'>
            <a href="#">My Journey in Data Science</a>
            <br>
            <i class="fa fa-tag " aria-hidden="true"> Career</i>
            <hr>
        </div>

        <div class='post'>
            <a href="#">My Journey in Data Science</a>
            <br>
            <i class="fa fa-tag " aria-hidden="true"> Career</i>
            <hr>
        </div>




    </div>
  