<div class="offset">
    <div class="jubotron">
        <div class="narrow">
             <h3 class="heading">Projects</h3>
             <div class="heading-underline"></div>
        </div>

        <div class="row text-center">
            <div class="col-md-3">
                <div class="projects">
                    <i class="fas fa-cloud" ></i>
                    <h3>Semantic Search Engine</h3>
                    <p>A semantic search engine using elastic search and bert</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="projects">
                    <i class="fas fa-cloud" data-fa-transform="shrink-3 up-5" ></i>
                    <h3>Image Captioning</h3>
                    <p>A semantic search engine using elastic search and bert</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="projects">
                    <i class="fas fa-cloud" ></i>
                    <h3>Key-Value Extractor</h3>
                    <p>A semantic search engine using elastic search and bert</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="projects">
                    <i class="fas fa-cloud" ></i>
                    <h3>Portfolio</h3>
                    <p>A semantic search engine using elastic search and bert</p>
                </div>
            </div>
        </div> 

        

    </div>
</div>